table {
    border: solid 1px #000;
    border-collapse: collapse;
  }
  
  table th{
    border: solid 1px #000;
    padding: 6px;
    background-color: yellow;
  }

  table td{
    border: solid 1px #000;
    padding: 6px;
  }

  table td:first-child{
    background-color: yellow;
  }

  td:nth-child(2n +1) {
    /* n starts from 0 */
    background-color: #ccc;
  }